@keyframes animacao {
    0% { margin-left: 0; }
    25% { margin-left: 0;}
    30% { margin-left: -100.9%;}
    55% { margin-left: -100.9%;}
    60% { margin-left: -201.9%;}
    85% { margin-left: -201.9%;}
}