/* Instanciando variáveis! */
:root
{
    --white-principal: #FFFFFF;
    --blue-button-clicado: aqua;
    --clicado-link: purple;
    --font-principal: "Inter";
}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

@font-face {
    font-family: 'Valorant';
    src: url('../assets/Valorant Font.ttf') format ('truetype');
    font-weight: normal;
    font-style: normal;
}

body
{
    background-image: linear-gradient(to right, #9846A0, #7282D7);
    color: var(--white-principal);
    font-family: var(--font-principal);
    font-size: 16px;
    font-weight: 400px;
}

.background {
    background-image: url(../assets/background.png);
    background-repeat: no-repeat;
    background-size: 100%;
}

nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}

.div-logo {
    display: flex;
    justify-content: space-between;
    align-items: center ;
}

.logo {
    display: inline-block;
    width: 75px;
    height: 75px;
}

.texto-logo {
    font-family: 'Valorant';
    color: white;
    margin-left: 5px;
    margin-top: 15px;
    font-size: 50px;
}

.navbar {
    display: inline-block;
}

.navbar-item {
    display: inline-block;
    margin: 0 10px;
    padding: 10px;
}

.item-texto {
    color: white;
    font-weight: bold;
    font-size: 16px;
}

.item-texto:hover {
    text-decoration: underline;
}

.botao {
    background-color: white;
    font-size: 14px;
    border: white solid 1px ;
    color: black;
    width: 112px;
    height: 38px;
    align-self: center;
    justify-content: center;
    padding: 7px 16px;
    border-radius: 40px;
    transition-duration: 0.6s;
}

.botao:hover {
    text-shadow: 2px 2px 5px black;
    box-shadow: 5px 5px 50px black;
}

.container {
    height: 80vh;
    display: grid;
    padding: 0 15em;
    grid-template-columns: 50% 50%;
}

.principal {
    align-items: center;
}

.container-caixa {
    margin: 0 6em;
    text-align: center;
}

.nome-marca {
    font-family: 'Valorant';
    color: var(--blue-button-clicado);
    font-size: 90px;
}

.container-titulo {
    font-size: 27px;
    font-weight: 700;
}

.container-botao {
    background-color: rgba(255, 255, 255, 0.25);
    border-radius: 10px;
    padding: 1em;
    color: var(--white-principal);
    font-size: 20px;
    font-weight: bold;
    display: block;
    text-align: center;
    margin-bottom: 1em;
    border: 2px solid var(--white-principal);
}

.container-botao:hover {
    background-color: var(--blue-button-clicado);
    color: var(--bg-color);
    transform: scale(1.1);
    transition: 1s all;
    cursor: pointer;
}

.galery {
    width: 355px;
    height: 725px;
    background-color: transparent;
    overflow: hidden;
    -webkit-transform: skew(-5deg);
    transform: skew(-5deg);
    margin-left: 265px;
    margin-bottom: 100px;
}

.galery .fotos {
    width: 400%;
    animation-name: animacao;
    animation-duration: 16s;
    animation-iteration-count: infinite;
}

.galery .fotos img {
    width: 24.9%;
    height: 721px;
}

.container-descricao {
    margin-top: 200px;
    display: flex;
    padding: 0 9em 0 9em;
    align-items: center;
}

.imagem-secundario {
    width: 40%;
}

.container-descricao-texto {
    font-size: 25px;
    margin-bottom: 150px;
    margin-left: 70px;
    font-weight: normal;
    color: var(--white-principal);  
}

.destaque {
    color: #4e154d;
}

.container-vantagem {
    height: 80vh;
    display: grid;
    padding: 0 2em;
    justify-content: center;
    text-align: center;
}

.secundario {
    align-items: center;
}

td {
    font-weight: 700;
    font-size: 24px;
}

.dispositivos {
    text-align: center;
}

.dispositivos-titulo {
    font-size: 48px;
    color: var(--white-principal);
}

.dispositivos-lista {
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin: 5em 0;
}

.item-lista {
    font-size: 32px;
    color: var(--white-principal);
}

.rodape {
    text-align: center;
    border-top: 2px solid white;
    border-radius: 10px;
}

.rodape-logo {
    margin-bottom: 2em;
    margin-top: 2em;
    width: 80px;
    height: 80px;
}

.rodape-lista {
    display: flex;
    justify-content: center;
    list-style-type: none;
    padding-bottom: 15px;
}

.texto-rodape {
    height: 40px;
    font-size: 14px;
    color: var(--white-principal);
}

.link-lista {   
    padding: 0 0.8em;
    color: var(--white-principal);
    font-size: 16px;
}

.link-lista:hover {
    color: var(--blue-button);
}

.link-lista:active {
    color: var(--clicado-link);
}

.construcao {
    background-color: #E4E8F4;
    display: block;
    text-align: center;
    height: 690px;
}